<link rel="stylesheet/less" href="/asset/css/global.less">
<div class="header" style="min-width: 1200px">
    <!--<div class="update-v3">
        <span class="text-wrapper"><span class="update-title">公告：</span>OneNET将于2016年11月8日21:00至2016年11月9日08:00进行迭代升级，在升级过程中可能出现网站或APP无法访问等问题，如有给大家带来不便，请谅解。同时谢谢大家的支持。</span>
        <i class="close-wrapper"><span class="icon-cancel"></span></i>
    </div>-->
    <div class="header-detail">
        <a href="/" class="logo" style="background: url(/asset/image/logo.png) center no-repeat;"></a>
        <span class="apart"></span>
        <a href="/" class="menu active" title="首页">首页</a><div class="menu multi ">
        <span>案例与伙伴</span>
        <ul>
            <li class=" "><a href="/case">经典案例</a></li>
            <li class=""><a href="/cooper">合作伙伴</a></li>
        </ul>
    </div>
        <a href="/doc" class="menu " target="_blank">开发文档</a>
        <a href="/discover" class="menu " title="发现">发现</a>
        <a href="/bbs" class="menu ">社区</a>
        <a href="/event" class="menu ">动态</a>        <!-- <a href="javascript:;" class="menu ">集市</a> -->
        <% if(!hasUser) {%>
        <div class="profile clearfix">
            <a href="/login?redirect_uri=%2F" rel="nofollow" class="button round">登录</a>
            <a href="/register" rel="nofollow" class="button round hollow cold">注册</a>
        </div>
        <%}%>
        <% if(hasUser){%>
        <div class="profile clearfix">
            <a class="button expand hollow icon-develop" href="/product" target="_blank"><span>开发者中心</span></a>
            <!--<a class="developer-button expand hollow" href="/product" target="_blank"><span>开发者中心</span></a>-->
            <div class="profile-detail">
                <div class="profile-detail-img"><img alt="userImg" src="//open.iot.10086.cn/passport/static/files/image_cliper/default-200.jpg"></div>
                <ul class="profile-detail-ul hide ">
                    <li class="first">yanghuan</li>
                    <!----<li><a href="javascript:;" class="icon-product-analyse">产品统计分析</a></li>-->
                    <li><a href="/user" >个人资料</a></li>
                    <li><a href="/favorite" >我的收藏</a></li>
                    <li><a href="/user/config">安全设置</a></li>
                    <li class="last"><a href="/logout">退出账号</a></li>
                </ul>
            </div>
            <a class="icon-notify new-notice"></a>

        </div>
        <%}%>
    </div>

</div>
